		<footer class="row text-center p-3 mt-auto">
			<div class="container py-4">
				<div class="mb-3">
					<a href="https://instagram.com" target="_blank" class="mx-2"
						><i class="bi bi-instagram fs-4"></i
					></a>
					<a href="https://twitter.com" target="_blank" class="mx-2"
						><i class="bi bi-twitter fs-4"></i
					></a>
					<a href="https://facebook.com" target="_blank" class="mx-2"
						><i class="bi bi-facebook fs-4"></i
					></a>
					<a href="https://linkedin.com" target="_blank" class="mx-2"
						><i class="bi bi-linkedin fs-4"></i
					></a>
				</div>
				<small>&copy; 2025 GUEIM. All rights reserved.</small>
			</div>
		</footer>
		<script src="/js/spinner.js"></script>