.newGameFormTitle{
    text-align: center;
}

.newGameFormContainer{
    display: flex;
    justify-content: center;
    padding: 5%;
}

.newGameForm{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 1rem;
    width: 90%;
}