:root {
	--color-primary: #0eca62;
	--color-secondary: #656176;
	--color-accent: #decdf5;
	--color-light: #f8f1ff;
	--color-dark: #656176;
}

.btn-primary {
	--bs-btn-bg: var(--color-primary);
	--bs-btn-border-color: var(--color-primary);
	--bs-btn-color: #fff;
	--bs-btn-hover-bg: color-mix(in srgb, var(--color-primary) 85%, black 15%);
	--bs-btn-hover-border-color: color-mix(
		in srgb,
		var(--color-primary) 85%,
		black 15%
	);
	--bs-btn-active-bg: color-mix(in srgb, var(--color-primary) 75%, black 25%);
	--bs-btn-active-border-color: color-mix(
		in srgb,
		var(--color-primary) 75%,
		black 25%
	);
}

.btn-secondary {
	--bs-btn-bg: var(--color-secondary);
	--bs-btn-border-color: var(--color-secondary);
	--bs-btn-color: #fff;
	--bs-btn-hover-bg: color-mix(
		in srgb,
		var(--color-secondary) 85%,
		black 15%
	);
	--bs-btn-hover-border-color: color-mix(
		in srgb,
		var(--color-secondary) 85%,
		black 15%
	);
	--bs-btn-active-bg: color-mix(
		in srgb,
		var(--color-secondary) 75%,
		black 25%
	);
	--bs-btn-active-border-color: color-mix(
		in srgb,
		var(--color-secondary) 75%,
		black 25%
	);
}

.btn-warning {
	--bs-btn-bg: var(--color-accent);
	--bs-btn-border-color: var(--color-accent);
	--bs-btn-color: var(--color-dark);
	--bs-btn-hover-bg: color-mix(in srgb, var(--color-accent) 85%, black 15%);
	--bs-btn-hover-border-color: color-mix(
		in srgb,
		var(--color-accent) 85%,
		black 15%
	);
	--bs-btn-active-bg: color-mix(in srgb, var(--color-accent) 75%, black 25%);
	--bs-btn-active-border-color: color-mix(
		in srgb,
		var(--color-accent) 75%,
		black 25%
	);
}

.btn-danger {
	--bs-btn-bg: #dc3545;
	--bs-btn-border-color: #dc3545;
	--bs-btn-color: #fff;
	--bs-btn-hover-bg: color-mix(in srgb, #dc3545 85%, black 15%);
	--bs-btn-hover-border-color: color-mix(in srgb, #dc3545 85%, black 15%);
	--bs-btn-active-bg: color-mix(in srgb, #dc3545 75%, black 25%);
	--bs-btn-active-border-color: color-mix(in srgb, #dc3545 75%, black 25%);
}

a {
	color: var(--color-primary);
	text-decoration: none;
	transition: color 0.2s, text-decoration 0.2s;
}

a:hover,
a:focus {
	color: color-mix(in srgb, var(--color-primary) 85%, black 15%);
	text-decoration: underline;
}
